@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
   
}
.navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }
	
.jumbotron {
      margin-bottom: 0;
	 background-image: url("../assets/img/fons1.jpg");
   }
 .jumbotron h1 {
	 color:white;
	 
 }

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    vertical-align: middle;
}

.form-horizontal{
	text-align: center;
}

.form-group{
	text-align: center;
}

.form-group button{
	text-align: center;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
/*
COntainer

*/
#Carrousel{
    border: 1px solid black;
    position: relative;
    height: 300px;
	 margin-bottom:20px;
}
#Carrousel img{
    height: 300px;
    width: 100%;
    max-height: 300px;
}

.carousel-indicators ol{
	margin-top:15px;
	
}
.left-arrow{
    margin-top: 120px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    width: 40px;
    height: 40px;
    border :2px solid #fff;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
}

.right-arrow{
    margin-top: 120px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    width: 40px;
    height: 40px;
    border :2px solid #fff;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
}

.glyphicon-arrow-left{
    color: #bf8e51;
    transform: rotate(45deg);
}
.glyphicon-arrow-right{
    color: #bf8e51;
    transform: rotate(45deg);
}

.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding:20px 0px;
}

.index-content a{
    color: black;
}
.index-content .card{
    background-color: #FFFFFF;
    padding:0;
	 margin-bottom:20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
	height:320px; /*Dimesiones tarjeta*/
}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index-content .card h2, h3{
    color:Black;
	font-size:13px;
	text-align: justify;
	margin:10px;
}

.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {

    .index-content .col-lg-4 {
        margin-top: 20px;
    }
}




